* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100vw;
  background-image: radial-gradient(
    circle,
    #3a3b38,
    #2f3230,
    #262928,
    #1e2020,
    #161718
  );
}

/* ----------- ALUMNO ----------------- */
/* Aca debe colocar los estilos necesarios para generar el layout
 que se ve en la imagen*/

/* ------------------------------------ */
.contenedor{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
}


/* Color de fondo según tipo */
.normal {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(168, 167, 122, 1) 100%
  );
  text-align: center;
}
.agua {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(99, 144, 240, 1) 100%
  );
  text-align: center;
}
.fuego {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 129, 48, 1) 100%
  );
  text-align: center;
}
.electricidad {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 208, 44, 1) 100%
  );
  text-align: center;
}
.planta {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(122, 199, 76, 1) 100%
  );
  text-align: center;
}
.veneno {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(104, 40, 90) 100%
  );
  text-align: center;
}
